.card {
  width: 80%;
  height: 250px;
  margin: 20px auto;
  display: flex;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 2px 0px rgba(200, 200, 200, 1);
}

.card:hover {
  background: #f5f5f5;
}

.card:hover a {
  text-decoration: underline #000;
}

.card a {
  text-decoration: none;
}

.card-image {
  width: 50%;
  display: inline-block;
  position: relative;
  height: 250px;
  border-radius: 5px;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-image .status {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.status-active {
  background: green;
}

.status-inactive {
  background: black;
}

.card-details {
  width: 50%;
  display: inline-block;
  padding: 10px;
}

.price {
  padding-bottom: 10px;
}

.price label {
  font-size: 10px;
}

.price span {
  display: block;
  font-size: 24px;
  font-weight: 700;
}

.address {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  .card {
    display: block;
    height: auto;
  }

  .card-image, .card-details {
    width: 100%;
  }
}
